form, h1 {
    margin-left: 300px;
}

h1{
    font-size: 20px;
    font-family: verdana;
}

@media screen and (min-device-width : 320px) and (max-device-width : 1024px){

    form, h1{
        margin-left: 2%;   
    }
    textarea{
        width: 90%;
    }

}