footer{
    background-color: rgb(86, 7, 12);
    width: 97%;
    height: 100%;
    border-radius: 10px;
}
.sucursales{
    list-style: none;
    font-family: verdana;
    display: inline-flex;    
}

p{
    margin-left: 100px;
    margin-right: 100px;
    font-family: verdana;
    font-size: 18px;
    color: white;
}

h1{
    font-family: verdana;
    font-size: 11px;
    text-align: center;
    color: white;
}

@media screen and (min-device-width : 320px) and (max-device-width : 1024px){
    .sucursales{
        display: inline-block;
    }
    .rrss{
        display: inline-block;
        margin-left: 40%;
    }

}
